body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */

/* Ensure the app takes full available space */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* To handle scrolling in case of long content */
}



/* styles.css */

/* Button Styles */
.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  max-width: 100%;
  margin: 10px 10px;
  transition: background-color 0.3s ease;
}

.button:disabled {
  cursor: not-allowed;
}

.button.start {
  background-color: #4CAF50;
  color: white;
}

.button.start:disabled {
  background-color: #ccc;
}

.button.stop {
  background-color: #f44336;
  color: white;
}

.button.stop:disabled {
  background-color: #f5c6cb;
}

.button.pause {
  background-color: #ff9800;
  color: white;
}

.button.pause:disabled {
  background-color: #ffcc80;
}

.button.resume {
  background-color: #2196F3;
  color: white;
}

.button.resume:disabled {
  background-color: #bbdefb;
}


.button.upload {
  background-color: #818fc9;
  color: white;
}
.button.soap {
  background-color: #66c2e4;
  color: white;
}

/* Listening Text */
.listening-text {
  color: orange;
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
}
